:root {
  --yellow-900: hsl(47, 88%, 63%);
  --white-100: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
  font-weight: 500 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow-900);
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* card */
.card {
  background-color: var(--white-100);
  max-width: 327px;
  height: 501px;
  border-radius: 16px;
  border: 1px solid var(--gray-950);
  box-shadow: 6px 6px 0px 0px var(--gray-950);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-image {
  border-radius: 16px;
  overflow: hidden;
  height: 200px;
  background-image: url('./assets/images/illustration-article.svg');
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 4px;
}

.category {
  background-color: var(--yellow-900);
  padding: 2px 8px;
  text-decoration: none;
  color: var(--gray-950);
  font-weight: 800;
  font-size: 0.8rem;
  border-radius: 4px;
}

.data {
  color: var(--gray-950);
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 4px;
}

h1 a {
  text-decoration: none;
  color: var(--gray-950);
  font-weight: 800;
  font-size: 1.3rem;
  margin: 10px 0;
  transition: all 0.6s;
}

h1 a:hover {
  color: var(--yellow-900);
}

h1 a:focus-visible {
  color: var(--yellow-900);
}

.info {
  color: var(--gray-500);
  font-weight: 500;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 800;
  color: var(--gray-950);
  gap: 12px;
  font-size: 0.8rem;
}

.logo {
  width: 32px;
}

.logo img {
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  color: var(--gray-500);
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: var(--gray-500);
  font-weight: 800;
}


@media (min-width: 768px) {
  .card {
    max-width: 384px;
    height: 522px;
  }

  footer {
    font-size: 1rem;
  }
}